<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
<div class="container">
    <h1>用户列表</h1>
    <form action="/adduser" method="post">
        <input type="text" name="username" placeholder="请输入用户姓名" id="name">
        <input type="text" name="age" placeholder="请输入用户姓名" id="age">
        <input type="text" name="email" placeholder="请输入用户邮箱" id="email">
        <button type="submit">添加用户</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>电子邮件</th>
            <th>年龄</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">
            <td><span th:text="${user.id}"></span></td>
            <td><span th:text="${user.username}"></span></td>
            <td><span th:text="${user.email}"></span></td>
            <td><span th:text="${user.age}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>